/* Reset */
* {
    margin: 0;
}

/* Global Styles */
body {
    font-family: "Roboto", sans-serif;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
}

.navbar-container.active {
    background-color: white;
    color: black;
}

.logo-container a {
    flex: 1;
    text-decoration: none;
}

.logo {
    font-family: "Sen", sans-serif;
    font: 30px;
    color: red;
}

.menu-container a {
    flex: 6;
    text-decoration: none;
    color: inherit;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-list-item.active {
    font-weight: bold;
}

/* Hover effects */
.menu-list-item:hover {
    background-color: rgba(255, 0, 0, 0.877);
    border-radius: 5px;
}

.light-mode .menu-container a {
    flex: 6;
    text-decoration: none;
    color: black;
}

.light-mode .menu-list-item:hover {
    background-color: rgba(255, 0, 0, 0.877);
    color: black;
    border-radius: 5px;
}

/* Sidebar */
.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.search-container {
    position: absolute;
    top: 51px; 
    left: 50px; 
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.search-container input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    width: 200px; 
}

.sidebar.active {
    background-color: white;
}

.left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    transition: transform 0.7s ease-in-out;
}

.left-menu-icon:hover {
    color: red;
    transform: rotate(360deg);
}

.left-menu-icon.active {
    color: black;
}

/* Main Content and Container */
.container {
    background-color: #151515;
    min-height: 100vh;
    padding-left: 50px;
    width: calc(100% - 50px);
    color: white;
    overflow-y: auto;
    padding-bottom: 0;
    padding-top: 70px; /* Thêm khoảng cách trên để tránh bị navbar che */
}

.container.active {
    background-color: white;
}

.title {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
}

/* Dropdown Menu */
.dropdown-menu {
    width: 150px;
    display: none;
    position: absolute;
    background-color: #333;
    list-style: none;
    padding: 0;
    border-radius: 5px;
    z-index: 1000;
}

.menu-list-item:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    font-size: 13px;
    padding: 10px 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, font-size 0.3s ease;
    width: 100%;
}

.dropdown-item a {
    display: block; /* Đảm bảo thẻ a chiếm toàn bộ chiều rộng của dropdown-item */
}

.dropdown-item:hover {
    background-color: red;
    font-size: 15px;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

/* Anime List */

.anime-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Chỉnh lại để chia thành 4 cột */
    grid-gap: 30px; /* Tăng khoảng cách giữa các mục */
    justify-content: center;
    margin: 40px auto; /* Tăng khoảng cách với các phần khác */
    width: 90%;
}

.anime-item {
    text-align: center;
}

.anime-item img {
    width: 280px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.anime-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px #C11119;
}

.anime-item p {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

/* Pagination */
.pagination {
    display: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.page-link {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #111;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.page-link:hover {
    background-color: #C11119;
}

/* Active state for dropdown */
.menu-list-item.active .dropdown-item a {
    color: white;
}

.page-link.active {
    background-color: red;
    color: white;
}

/* Nút Watch */
.watch-button {
    background-color: #C11119;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.watch-button:hover {
    background-color: #ff3b30;
    transform: scale(1.05);
}
