*{
    margin:0;
}

body {
    font-family: "Roboto", sans-serif;
}

.bodypart{
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #20232a;
    color: #fff;
}


.header-nav{
    flex: 6;
    text-decoration: none;
    color: inherit;
}

.light-mode .header-nav{
    background-color: whitesmoke;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed; /* Thanh điều hướng luôn cố định */
    top: 0; /* Gắn thanh điều hướng ở đầu trang */
    z-index: 999; /* Đảm bảo thanh điều hướng nằm trên các phần tử khác */
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;

}

.logo-container a{
    flex: 1;
    text-decoration: none;
}

.logo{
    font-family: "Sen", sans-serif;
    font-size: 30px;
    color: red;
}

.menu-container a{
    flex: 6;
    text-decoration: none;
    color: inherit;
}

.menu-list{
    display: flex;
    list-style: none;
}

.light-mode .menu-container a{
    flex: 6;
    text-decoration: none;
    color: black;
}

.menu-list-item {
    margin-right: 30px;
    padding: 10px 20px; /* Thêm padding để mục lớn hơn và dễ bấm hơn */
    transition: background-color 0.3s ease, color 0.3s ease; /* Thêm hiệu ứng mượt khi hover */
}

/* Hover effect cho dark mode */
.menu-list-item:hover {
    background-color: rgba(255, 0, 0, 0.877); 
    border-radius: 5px; 
}
.light-mode .menu-list-item:hover {
    background-color: rgba(255, 0, 0, 0.877); 
    color: black; 
    border-radius: 5px;
}

.menu-list-item.active{
    font-weight: bold;
}

div ul li a{
    text-decoration: none;
    color: white;
}

div ul li a:hover{
    color: white;
}

.menu-list{
    display: flex;
    list-style: none;
}

.profile-container{
    flex: 2 ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 20px
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.toggle.active {
    background-color: black;
    transform: translate(-20px);
}

.toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.search-container {
    position: absolute;
    top: 51px; 
    left: 50px; 
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.search-container input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    width: 200px; 
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon{
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    transition: transform 0.7s ease-in-out;
}

.left-menu-icon:hover{
    color:red;
    transform: rotate(360deg);
}

.left-menu-icon.active{
    color: black;
}

/* Light mode adjustments */
.light-mode .navbar {
    background-color: white;
}

.light-mode .navbar-container {
    color: black;
}

.light-mode .toggle-ball {
    background-color: black;
}

.navbar-container.active{
    background-color: white;
    color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: white;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: #f4da44;
}

/* Ranking Section */
main {
    margin-left: 80px;
    padding-top: 50px; 
}

header {
    background-color: #202020;
    padding: 20px;
    margin-right: 30px;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: white;
}

h1 {
    color: #f4da44;
    text-align: center;
}

.ranking {
    width: 90%;
    margin: 0 auto;
    margin-left: 50px;
}

.top-anime {
    display: flex;
    align-items: center;
    background-color: #303030;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-anime:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

.top-anime:hover img{
    transform: scale(1.1);
}

.top-anime img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.top-anime:hover .anime-info{
    opacity: 1;
    color: white;
}

.top-anime.first-rank{
    background-size: cover;
    padding: 40px;
    background-color:#505050;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.top-anime.first-rank:hover {
    transform: scale(1.1); /* Enlarge the container more than others */
    box-shadow: 0 15px 40px rgba(255, 0, 0, 0.6); /* Add a stronger shadow */
    background-size: 160%; /* Zoom the background image more */
}

.first-rank {
    background-color: red;
    color: white;   
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.first-rank img {
    width: 200px; /* Phóng to ảnh để nổi bật*/
}

.first-rank .rank-number{
    font-size: 64px; /* số rank to hơn*/
    color: white;
}

.first-rank .movie-button{
    background-color: red;
    color: white;
}

.first-rank .movie-button:hover{
    background-color: darkred;
}

.rank-number {
    font-size: 48px;
    font-weight: bold;
    color: #ff3300;
    margin-right: 20px;
    width: 60px;
    text-align: center;
}

.movie-button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 100ms all ease-in-out;
}

.movie-button:hover{
    background-color: darkred;
}

.movie-button a{
    text-decoration: none;
    color: white;
}


.anime-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: orangered;
}

.anime-info p {
    font-size: 14px;
    margin-bottom: 10px;
}

.episode-info {
    font-size: 16px;
    color: yellow;
    font-weight: bold;
    padding-bottom: 10px;
}

.bookmark-icon {
    position: absolute;
    bottom: 10px;
    right: 50px;
    color: white;
    font-size: 24px;
    opacity: 0; /* Ban đầu ẩn */
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

/* Khi hover vào .movie-list-item, hiển thị biểu tượng bookmark */
.movie-list-item:hover .bookmark-icon {
    opacity: 1; /* Hiển thị biểu tượng khi hover */
}

/* Khi có class 'bookmarked', luôn hiển thị biểu tượng */
.movie-list-item.bookmarked .bookmark-icon {
    opacity: 1; /* Luôn hiển thị khi đã bookmark */
    color: red; 
}

/*=================Dropdown của Tuấn====================*/
.dropdown-menu {
    width: 150px;
    display: none;
    position: absolute;
    background-color: #333;
    list-style: none;
    padding: 0;
    border-radius: 5px;
    z-index: 1000;
}

.menu-list-item:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    font-size: 13px;
    padding: 10px 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, font-size 0.3s ease;
    width: 100%;
}

.dropdown-item a {
    display: block; /* Đảm bảo rằng cả khu vực liên kết bao phủ toàn bộ vùng của item /
    padding: 10px 20px; / Khoảng cách bên trong của mục /
    color: white; / Màu chữ mặc định /
    text-decoration: none; / Bỏ gạch chân /
}

.dropdown-item a:hover {
    color: white; / Đảm bảo màu chữ khi hover */
}

.dropdown-item:hover {
    background-color: red;
    font-size: 15px;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

/*========================Dropdown========================*/

.container{
    background-color: #151515;
    /* min-height: calc(100vh); */
    height:100vh;
    width: 100%;        
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-container {
    display: flex;
    background-color: #2e2d31;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 1200px;
    height: 400px;
}

.movie-details {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-title {
    font-size: 30px;
    margin-bottom: 15px;
}

.detail-rating {
    margin-bottom: 20px;
    font-size: 14px;
}

.detail-description {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* New styling for horizontal alignment */
.detail-horizontal {
    display: flex;
    justify-content: space-between; /* Ensures space between the items */
    gap: 30px; /* Adds space between each section */
    margin-bottom: 20px;
}

.detail-rank, .detail-popularity, .detail-member {
    font-size: 14px;
    flex: 1;
}

.list-buttons {
    display: flex;
    gap: 10px; /* in case adding more button */
}

.detail-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.detail-button:hover {
    background-color: rgb(187, 0, 0);
}

.detail-button-icon {
    width: 20px;
    height: 20px;
}

.youtube-player-overlay{
    position: fixed;
    inset : 0;
    background: rgba(0,0,0,6);
    opacity: 0;
    pointer-events: none;
}

.youtube-player-overlay.active{
    opacity: 1;
    pointer-events: auto;
}

.youtube-player-popup{
    position:fixed;
    width: 80%;
    left: 50%;
    transform: translate(-50%,-100%);
    transition: all 400ms ease;
}

.youtube-player-overlay.active .youtube-player-popup{
    transform: translate(-50%,0)
}

.youtube-player-popup iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.popup-container.show {
    opacity: 1;
    pointer-events: auto;
}

.close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
}

.video-container {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .video-container {
        width: 90%;
        padding-top: 56.25%; 
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .video-container {
        width: 700px;
        /* height: 393.75px;  */
        aspect-ratio: 16/9;
        
    }
}

@media only screen and (min-width: 1025px) {
    .video-container {
        width: 1200px;
        /* height: 450px;  */
        aspect-ratio: 16/9;
    }
}
/* add this to .container if update */
    /* margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; */

.movie-poster img {
        border-radius: 10px;
        max-width: 300px;
    }
